<section class="section-hero">
  <div class="hero-container">
    <h1 class="hero__title">
      Hello.<br />
      I’m Front End developer Mykhailo Khariuk.
    </h1>
    <ul class="hero__social-links-list">
      <!-- <li class="hero__social-links-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero__social-link"
          target="_blank"
          >ig</a
        > -->
      </li>
      <li class="hero__social-links-item">
        <a
          href="https://www.linkedin.com/in/mykhailo-khariuk/"
          class="hero__social-link"
          target="_blank"
          >LI</a
        >
      </li>
      <!-- <li class="hero__social-links-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero__social-link"
          target="_blank"
          >yt</a
        >
      </li> -->
      <li class="hero__social-links-item">
        <a
          href="https://github.com/maklarus"
          class="hero__social-link"
          target="_blank"
          >gh</a
        >
      </li>
      <li class="hero__social-links-item hero__email-item">
        <address class="hero__address">
          <a
            href="mailto:mykhailo.khariuk@gmail.com"
            class="hero__email-link hero__social-link"
          >
            mykhailo.khariuk@gmail.com
          </a>
        </address>
      </li>
    </ul>
  </div>
</section>
